.App {
  text-align: left;
}

.App-header {
  font-size: 20px;
}

.App-topbar {
  overflow: hidden;
  padding: 50px 50px;
  background-color: aquamarine;
  /*font-family: "Pathway Gothic One";*/
  font-family: 'Pathway Gothic One', sans-serif;
}

.App-topbar a {
  float: left;
  padding: 20px;
}

.App-topbar button {
  float: left;
  padding: 20px;
}


.App-topbar-right {
  float: right;
}

.App-core-content {
  padding: 100px 100px 100px 100px;
}
